{% extends 'base.html.twig' %}
{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% block body %}
    <div class="container">
        <form action="{{ path('login') }}" method="post">
            <br/>
            <div class="row">
                <label for="username" class="col-xs-2">Email or Phone number</label>
                <input class="col-xs-6" type="text" id="username" name="_username" value="{{ last_username }} " />
            </div>
            <br>
            <div class="row">
                <label for="password" class="col-xs-2">Password</label>
                <input class="col-xs-6" type="password" id="password" name="_password" />
            </div>
            <br/>
            <button type="submit">login</button>

            <br/><br/>
            <p>If you're not registered yet, please click on
                <a href=" {{ path('register') }} ">Register</a>
            </p>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

        </form>
    </div>
{% endblock %}